// Place all the styles related to the Prospects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.node {
  width: 357px !important;
}

.center {
  text-align: center;
}

.prospects #call-modal form {
    margin: 0
}

.prospects #email-modal form {
    margin: 0
}

.tag {
  font-size: 1em;
}

.tag1 {
}

.tag2 {
  font-size: 1.3em;
}

.tag3 {
  font-size: 1.7em;
}